backend/.env
backend/venv/
.venv/
__pycache__/
*.py[co]
*$py.class
*.so
.Python
/backend/agents/__pycache__
/backend/agents/__pycache__
/backend/agents/__pycache__
/backend/mcp_server/__pycache__
/backend/chains/__pycache__
backend/project_idea.md
frontend/implementation_plan.md
frontend/implementation_plan.md
frontend/implementation_plan.md
frontend/implementation_plan.md
frontend/.env
